---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-32 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1">
             Soluciones legales y <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">seguros</span> para profesionales digitales.
            </h1>
            <Paragraph className="mt-8">
                Asesoramos a freelancers, autónomos y nómadas digitales para que trabajen con tranquilidad
                y estén protegidos frente a imprevistos.<br />
                Sin fronteras, sin complicaciones.
            </Paragraph>
            <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full">
                    <a 
                        href="https://wa.me/34684501313?text=Hola,%20me%20gustaría%20saber%20más%20sobre%20vuestros%20servicios%20legales%20y%20seguros." 
                        class="py-3 px-6 w-full flex justify-center items-center text-white bg-green-500 rounded-full 
                               shadow-lg shadow-green-600/50 hover:bg-green-600 transition ease-linear duration-200"
                        target="_blank" 
                        rel="noopener noreferrer"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                            <path d="M.057 24l1.687-6.163c-.946-1.542-1.457-3.353-1.457-5.184 0-6.145 4.966-11.112 11.113-11.112 3.064 0 5.659 1.22 7.64 3.201s3.201 4.576 3.201 7.64c0 6.145-4.966 11.112-11.113 11.112-1.979 0-3.958-.528-5.696-1.564l-6.272 1.654zm6.554-3.567l-.493-.294c-1.393-.828-2.316-2.336-2.316-4.048 0-2.836 2.298-5.134 5.134-5.134s5.134 2.298 5.134 5.134c0 2.836-2.298 5.134-5.134 5.134-.95 0-1.874-.265-2.662-.777zM17.472 14.154c-.16-.081-.989-.485-1.14-.543-.151-.059-.26-.088-.37.088-.11.176-.424.543-.521.651-.097.108-.195.12-.36.03-.984-.485-1.968-.969-2.762-1.637-.624-.52-1.049-1.163-1.393-1.745-.344-.582-.036-.902.242-1.179.24-.242.493-.566.671-.842.179-.276.238-.485.151-.651-.088-.176-.328-.442-.455-.662-.128-.22-.26-.239-.36-.239h-.33c-.104 0-.276.04-.424.185s-.543.535-.543 1.304c0 .769.557 1.503.645 1.611.088.108 1.084 1.766 2.628 2.457.942.417 1.706.666 2.28.857.925.304 1.743.262 2.399.165.657-.099 1.093-.404 1.25-.635s.151-.439-.074-.68z"/>
                        </svg>
                        <span class="relative z-[5]">
                            Contacta por WhatsApp
                        </span>
                    </a>

                    <a 
                        href="mailto:angeeelperez02@gmail.com?subject=Consulta%20desde%20la%20Web" 
                        class="py-3 px-6 w-full flex justify-center items-center text-white bg-indigo-500 rounded-full 
                               shadow-lg shadow-indigo-600/50 hover:bg-indigo-600 transition ease-linear duration-200 mt-4 sm:mt-0"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z" />
                        </svg>
                        <span class="relative z-[5]">
                            Enviar un Correo
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
            <img src="/images/image1.webp" alt="Hero image" width="2350" height="2359" class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96">
        </div>
    </Container>

    <ByNumber/>
</section>